{% extends 'base.html.twig' %}

{% block title %}Listind des chantiers{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="cards centerLayout">
        <div class="resume centeredGrid">
            <a href="{{ path('home') }}"></a>
            <div class="chiffre">
                <div class="qt">{{chantiers | length}}</div>
                <div class="denom">Total des chantiers</div>
            </div>
            <div class="icon">
                <i class="fas fa-snowplow"></i>
            </div>
        </div>
    </div>
    <div class="detail edit">
        <div class="recentActivity">
            <div class="textUp">
                <div class="texte">
                    Liste des chantiers
                </div>
                <button id="addChantier">
                    <a class="buttonFictif" href={{ path('add_chantier_page') }}>Nouveau Chantier</a>
                </button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom du chantier</th>
                        <th>Adresse</th>
                        <th>Date de début</th>
                        <th>Nombre d'ouvriers</th>
                        <th>Cumul des pointages</th>
                        <th>Èditer</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for chantier in chantiers %}
                <tr class="editContent">
                    <td>{{chantier.nom}}</td>
                    <td>{{chantier.adresse}}</td>
                    <td>{{chantier.startDate | date('d/m/Y H:i')}}</td>
                    <td>{{chantier.numberOfEmployees}}</td>
                    <td>{{chantier.countTimeFromPointages}}</td>
                    <td><a href={{ path('get_chantier', {'id': chantier.id}) }}>Èditer</a> </td>
                    <td><a class="deleteButton"href={{ path('delete_chantier', {'id': chantier.id}) }}>Supprimer</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{asset('./ressource/script/chantiers.js')}}"></script>
{% endblock %}
