{% extends 'base.html.twig' %}

{% block title %}Listind des chantiers{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="cards">
        <div class="resume">
            <a href="{{ path('home') }}"></a>
            <div class="chiffre">
                <div class="qt">22</div>
                <div class="denom">Utilisateurs dans ce chantier</div>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
        <div class="resume">
            <a href="{{ path('home') }}"></a>
            <div class="chiffre">
                <div class="qt">33</div>
                <div class="denom">Pointages cumulés</div>
            </div>
            <div class="icon">
                <i class="far fa-clock"></i>
            </div>
        </div>
    </div>
    <div class="detail edit">
        <div class="recentActivity">
            <div class="textUp">
                <div class="texte">
                    Liste des chantiers
                </div>

            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom du chantier</th>
                        <th>Adresse</th>
                        <th>Date de début</th>
                        <th>Nombre d'ouvriers</th>
                        <th>Cumul des pointages</th>
                    </tr>
                </thead>
                <tbody>
                {% for chantier in chantiers %}
                <tr class="editContent">
                    <td>{{chantier.nom}}</td>
                    <td>{{chantier.adresse}}</td>
                    <td>{{chantier.startDate | date('d/m/Y H:i')}}</td>
                    <td>{{chantier.pointages | length}}</td>
                    <td>{{chantier.startDate | date('d/m/Y H:i')}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
