{% extends 'base.html.twig' %}

{% block title %}Listing des pointages{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="cards centerLayout">
        <div class="resume centeredGrid">
            <a href="{{ path('home') }}"></a>
            <div class="chiffre">
                <div class="qt">{{pointages | length}}</div>
                <div class="denom">Pointages enregistrés</div>
            </div>
            <div class="icon">
                <i class="far fa-clock"></i>
            </div>
        </div>
    </div>
    <div class="detail edit">
        <div class="recentActivity">
            <div class="textUp">
                <div class="texte">
                    Liste des chantiers
                </div>
                <button id="addPointage">
                    <a href="">Nouveau Pointage</a>
                </button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom du chantier</th>
                        <th>Nom et Prénom de l'ouvrier</th>
                        <th>Date du Pointage</th>
                        <th>Durée</th>
                    </tr>
                </thead>
                <tbody>
                {% for pointage in pointages %}
                <tr class="editContent">
                    <td>{{pointage.chantier.nom}}</td>
                    <td>{{pointage.utilisateur.prenom ~ ' ' ~ pointage.utilisateur.nom}}</td>
                    <td>{{pointage.date | date('d/m/Y H:i')}}</td>
                    <td>{{pointage.duree.h ~ ' heure(s) et ' ~ pointage.duree.i ~ ' minute(s).' }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="editPopup" id="editPopup">
			<div class="thePopup" id="thePopup">
				<div class="popUpCloseBtn" id="popUpCloseBtn">&times;</div>
				<div class="title">
					<h2>Nouveau Pointage</h2>
				</div>
				<div class="body">
					<form action={{ path('add_pointage') }} id="editPopupForm">
						<div class="head user">
							<div class="leftEdit">
								<p id="message" style="color: red;"></p>
								<div class="sender">
                                    <label for="">Chantier :</label>
									<select name="idChantier" id="nomChantier" required>
										{% for chantier in chantiers %}
											<option value={{chantier.id}}>{{chantier.nom}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="email">
									<label for="">Ouvirer :</label>
									<select name="idOuvrier" id="nomPrenomOuvrier" required>
										{% for personne in personnes %}
											<option value={{personne.id}}>{{personne.prenom ~ ' ' ~ personne.nom}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="category">
									<label for="">Matricule :</label>
									<select name="matriculeOuvrier" id="matriculeOuvrier" required>
										{% for personne in personnes %}
											<option value={{personne.id}}>{{personne.matricule}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="date">
									<label for="">Date le :</label>
									<input id="datePointage" name="datePointage" type="date" required>
								</div>
								<div class="articleTitle">
									<label for="">Heure de début :
									</label>
									<input id="heureDebut" name="heureDebut" type="time" disabled required>
								</div>
								<div class="articleTitle">
									<label for="">Heure de fin :
									</label>
									<input id="heureFin" name="heureFin" type="time" disabled required>
								</div>
							</div>
						</div>
						<div class="editButton">
							<button name="updateButton" data-url="/admin/setArticle/" id="createPointageButton">Créer le pointage</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</div>
<script src="{{asset('./ressource/script/pointages.js')}}"></script>
{% endblock %}
