{% extends 'base.html.twig' %}

{% block title %}Listing des utilisateurs{% endblock %}

{% block body %}
<div class="dashboard">
    <div class="cards centerLayout">
        <div class="resume centeredGrid">
            <div class="chiffre">
                <div class="qt">{{personnes | length}}</div>
                <div class="denom">Ouvriers inscrits</div>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
        </div>
    </div>
    <div class="detail edit">
        <div class="recentActivity">
            <div class="textUp">
                <div class="texte">
                    Liste des personnes
                </div>
                <button id="addUtilisateur">
                    <a class="buttonFictif" href={{ path('add_utilisateur_page') }}>Nouvel ouvrier</a>
                </button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Matricule</th>
                        <th>Èditer</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for personne in personnes %}
                <tr class="editContent">
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.matricule}}</td>
                    <td><a href={{ path('get_utilisateur', {'id': personne.id}) }}>Èditer</a> </td>
                    <td><a class="deleteButton"href={{ path('delete_utilisateur', {'id': personne.id}) }}>Supprimer</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{asset('./ressource/script/utilisateurs.js')}}"></script>

{% endblock %}
